html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --primary: #039be5;
  --background-color: rgb(14, 22, 24);
}

/* Typography */
/*h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}
*/
h1,h2,h3 {
  font-family: "Josefin Sans";
}


small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-image: url("/cyberbanner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}

.beauty {
  box-shadow:black 0px 0px 10px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.beauty:hover {
  box-shadow:var(--primary) 0px 0px 10px;
  transform: perspective(500px) translate3d(0px, 0px, 50px);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.whatis {display: flex;}
.whatismobile {display: none;}

@media screen and (max-width: 1000px) {

.whatis {display: none;}
.whatismobile {display: block;}

}

nav {
  position:fixed;
  background-color: rgba(14, 22, 24, 0.651);
  backdrop-filter: blur(10px);
}

footer {
  font-size: small;
}
